* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vh;
  background-color: black;
}

/* nav */
ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.main-nav {
  display: flex;
  justify-content: left;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.3s ease;
  z-index: 1000;
}

.main-nav.scrolled {
  background-color: black;
}

#logo {
  width: 80px;
  height: auto;
  border-radius: 50%;
  padding: 20px;
  margin: 0px 20px;
}

#logo {
  transition: all 0.2s ease-in-out;
}

#logo:hover {
  transform: scale(1.2);
}

#avatar {
  width: 80px;
  height: auto;
  border-radius: 30px;
  padding: 20px;
  margin: 0px 20px;
}

#nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

#nav-list > li {
  font-size: 25px;
  color: white;
}

#nav-list li a {
  color: white;
  text-decoration: none;
}

.nav-link {
  transition: all 0.2s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.nav-link:hover {
  transform: scale(1.1);
}

/* home */
/* banner */
.nav-link {
  font-size: 18px;
}
.movie-details {
  z-index: 100;
  position: absolute;
  background-color: white;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  list-style: none;
  padding: 0;
  width: 90%;
  margin: 0 auto;
  margin-top: 1rem;
}

.fav-movie-list,
.wl-movie-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  list-style: none;
  padding: 0;
  width: 90%;
  margin: 0 auto;
  margin-top: 6rem;
}

.big-movie-picture {
  width: 100%; /* Make the banner stretch across the entire width */
  max-height: 400px; /* Let the height adjust proportionally based on the image */
  overflow: hidden; /* Hide any overflow content */
  display: flex;
  justify-content: center;
  align-items: center;
}

.big-movie-picture img {
  width: 100%; /* Ensure the image stretches to fill the container */
  height: auto; /* Allow the height to adjust proportionally */
  display: block; /* Ensure the image doesn't leave any white spaces */
}

#banner-card {
  display: flex;
  flex-direction: row;
  position: relative;
}

.banner-desc {
  color: white;
  max-width: 50%;
  padding: 50px;
  margin: 90px 0px 0px 0px;
  position: absolute;
  z-index: 1;
  right: 0;
  font-size: 14px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.banner-desc > h2 {
  max-width: 300px;
}

.banner-desc > p {
  max-height: 80px;
  overflow: hidden;
  display: none;
}

.vote-average-container {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  display: flex;
  margin: 10px 0;
  margin-bottom: 30px;
}

.number-icon {
  background-color: rgb(222, 39, 39);
  height: 20px;
  width: 20px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.vote-average-title {
  margin-left: 10px;
}

.big-movie-picture {
  position: relative;
  overflow: hidden; /* Ensure the gradient doesn't overflow */
  border: 1px solid black;
}

.big-movie-picture img {
  display: block;
  width: 100%;
  height: auto;
}

.banner-button {
  display: flex;
  justify-content: left;
}

.banner-play-button {
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
}

#play {
  margin: 5px;
}

.banner-play-button svg path {
  transition: fill 0.3s ease;
}

.banner-play-button:hover svg path {
  fill: rgb(222, 39, 39);
}

.banner-info-button {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.banner-info-button:hover {
  background-color: rgb(222, 39, 39);
  border: none;
}

#info {
  margin-left: 5px;
}

/* Apply the gradient overlay on top of the image */
.big-movie-picture::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  list-style: none;
  padding: 0;
  width: 95%;
  margin: 0 auto;
}

.movie-img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
}

.movie-card {
  position: relative;
  transition: all 0.2s ease-in-out;
}

/* scale the SVG icons when their parent movie card is being hovered */
.movie-card:hover .fav-watch-btn-container button svg {
  transform: scale(1.4);
}

.movie-card:hover .removeIcon {
  transform: scale(1.2);
}

/* CSS transition property to the SVG elements for smoother hover transition */
.fav-watch-btn-container button svg {
  transition: transform 0.3s ease;
}

.movie-card:hover img {
  transform: scale(1.1);
}

.fav-watch-btn-container {
  position: absolute;
  top: 90%;
  left: 85%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
}

.removeIcon {
  border: none;
  border-radius: 10px;
  position: absolute;
  top: 19%;
  left: 78%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  padding: 6px;
  transition: transform 0.4s ease;
}

.removeIcon:hover {
  stroke: white;
  background-color: rgb(222, 39, 39);
}

#home-vdo {
  width: 60%;
}

.home-cat {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.home-cat-btn > ul > li > a {
  background-color: transparent;
  color: white;
  font-size: 16px;
}

.fixed-home-cat {
  position: fixed;
  top: 60px;
  width: 100%;
  z-index: 1;
  background-color: black;
}

.fixed-nav-transition {
  margin-top: 6.3rem;
}

.category {
  border-radius: 40px;
  margin-right: 20px;
  margin: 30px;
}

.header-title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  color: white;
  margin-top: 13rem;
}

/* about */
#about-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 110px;
}

#about-title {
  color: whitesmoke;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 80px;
  font-size: 40px;
}

/* font-size:11px */
.tmdb-reference > p {
  font-size: 18px;
  color: whitesmoke;
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: 0 auto;
}

/* desktop width: 100px; */
#tmdb-logo {
  width: 150px;
  height: auto;
  margin-right: 30px;
}

/* tablet and desktop media size: 300px w/h */
#about-logo {
  border-radius: 50%;
  width: 350px;
  height: 350px;
  margin-bottom: 100px;
}

/* font-size: 12px; */
#footer {
  color: lightgrey;
  padding: 30px 0px 20px 0px;
  text-align: center;
  font-size: 18px;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 90px;
  font-size: 12px;
  border-top: solid 0.5px lightgrey;
}

.about-desc {
  width: 70%;
  padding-bottom: 250px;
  margin: 0 auto;
  color: whitesmoke;
  line-height: 50px;
  text-align: center;
  font-size: 28px;
}

/* fav-watch buttons */
.movie-img {
  position: relative;
}

.fav-watch-btn-container {
  position: absolute;
  top: 95%;
  left: 90%;
  transform: translate(-65%, -50%);
  display: flex;
  flex-direction: row;
}

.fav-watch-button {
  border: none;
  background-color: transparent;
}

.fav-watch-button:hover svg {
  fill: red; /* Set the fill color of the SVG to red on hover */
}

.watchIcon.clicked .heartIcon.clicked {
  background-color: rgb(222, 39, 39);
}

.fav-movie-list {
  min-height: 800px;
}

.empty-list {
  color: white;
  width: 100%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* spinner */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 768px) {
  .banner-desc {
    margin: 90px 30px 0px 0px;
    padding: 10px;
  }

  .banner-desc > p {
    display: block;
    max-width: 260px;
  }

  .banner-desc > h2 {
    font-size: 25px;
  }

  .vote-average-container {
    margin: 5px 0px 15px 0px;
  }

  .vote-average-title {
    display: flex;
    align-items: center;
    font-size: 14px;
  }

  #logo {
    width: 90px;
    height: auto;
  }
  .main-nav {
    padding-bottom: 30px;
  }

  .main-nav.scrolled {
    padding: 0;
  }
  .fixed-home-cat {
    position: fixed;
    top: 50px;
    width: 100%;
    z-index: 1;
    background-color: black;
  }

  #nav-list li {
    font-size: 1rem;
  }

  .home-cat {
    margin-top: 15px;
  }

  .fav-movie-list,
  .wl-movie-list {
    margin-top: 9rem;
    min-height: 550px;
  }

  .removeIcon {
    top: 35%;
    left: 80%;
  }
}

@media screen and (min-width: 1024px) {
  .movie-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    list-style: none;
    padding: 0;
    width: 90%;
  }

  .big-movie-picture {
    width: 70%; /* Make the banner stretch across the entire width */
    max-height: 400px; /* Let the height adjust proportionally based on the image */
    overflow: hidden; /* Hide any overflow content */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .big-movie-picture img {
    width: 100%; /* Ensure the image stretches to fill the container */
    height: auto; /* Allow the height to adjust proportionally */
    display: block; /* Ensure the image doesn't leave any white spaces */
  }

  .banner-desc {
    color: white;
    max-width: 35%;
    margin-top: 80px;
    margin-right: 80px;

    position: absolute;
    z-index: 1;
    right: 0;
  }

  .big-movie-picture {
    position: relative;
    overflow: hidden; /* Ensure the gradient doesn't overflow */
  }

  .banner-button {
    padding: 20px 0px;
  }

  .removeIcon {
    top: 52%;
    left: 87%;
  }
}
.movie-details-container {
  color: white;
}
#movie-detail-title {
  color: white;
}