* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vh;
  background-color: black;
}

/* home */
.movie-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  list-style: none;
  padding: 0;
  width: 60%;
  margin: 0 auto;
}

.movie-img {
  width: 100%; 
  height: auto; 
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
}


.movie-card {
  position: relative;
  /* overflow: hidden;  */
}

.movie-card:hover img {
  transform: scale(1.1);
}

/* fave and watch list button  */
.movie-card:hover .overlay {
  opacity: 1;
}

.movie-card .overlay {
  position: absolute;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  right: 0;
}

.overlay-buttons {
  display: flex;
  gap: 10px; /* Adjust the gap as needed */
}

.heart-container svg {
  fill: white; /* Set the initial color to white */
}
.heart-container:hover svg {
  fill: red; /* Change the fill color on hover */
}


.watch-list-container svg {
  fill: white; /* Set the initial color to white */
}
.watch-list-container:hover svg {
  fill: lightseagreen; /* Change the fill color on hover */
}

.home-cat {
  display: flex;
  justify-content: center;
}

.category {
  border-radius: 40px;
  margin-right: 20px;
  margin: 30px;
}

.header-title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  color: white;
}

/* about */
#about-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

#about-title {
  color: whitesmoke;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 80px;
  font-size: 50px;
}

/* font-size:11px */
.tmdb-reference > p {
  font-size: 18px;
  color: whitesmoke;
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: 0 auto;
}

/* desktop width: 100px; */
#tmdb-logo {
  width: 150px;
  height: auto;
  margin-right: 30px;
}

/* tablet and desktop media size: 300px w/h */
#about-logo {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  margin-bottom: 100px;
}

/* font-size: 12px; */
#footer {
  color: rgb(188, 227, 238);
  padding: 20px;
  text-align: center;
  font-size: 18px;
  position: relative;
  bottom: 0;
  width: 100%;
}

.about-desc {
  width: 70%;
  padding-bottom: 250px;
  margin: 0 auto;
  color: whitesmoke;
  line-height: 50px;
  text-align: center;
  font-size: 30px;
}
