ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.main-nav {
  display: flex;
  justify-content: center;
  font-family: "Karla", serif;
  background-color: rgb(25, 25, 25);
  padding-top: 30px;
  padding-bottom: 30px;
}

#logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 20px;
}

#nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav-list > li {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 25px;
  color: white;
}

#nav-list li a {
  color: white;
  text-decoration: none;
}

#nav-list li a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s; /* Transition for the underline */
}

#nav-list li a:hover::after {
  width: 100%; /* Show the underline on hover */
}
